{% extends "base.html" %}
{% block title %} Create new open thingy {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  <div id="content-container">
   <form action="/create" method="post">
      Headline: <div><input id="headline" name="headline"></div>
      Link: <div><input id="link" name="link"></div>
      Copy: <div><textarea id="copy" name="copy" cols="60" rows="12"></textarea></div>
     <div><input type="submit" value="Create"></div>
   </form>
<br>
<br>
<a href="/list">See all</a>
</div>
{% endblock %}