<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your snippets</title>
</head>
<body>
<table border="1" cellpadding="0" cellspacing="0">
    <tr>
        <th>Key</th>
        <th>Headline</th>
        <th>Copy</th>
        <th>Link</th>
        <th>-</th>
        <th>---</th>
    </tr>
    {% for snippet in snippets %}
        <tr>
            {% set key = snippet.key %}
            {% set id = key.id() %}
            <td>{{id}}</td>
            <td>{{snippet.headline}}</td>
            <td>{{snippet.copy}}</td>
            <td>{{snippet.link}}</td>
            <td><a href="/preview?id={{id}}">Preview</a></td>
            <td><a href="/delete?id={{id}}">Delete</a></td>
            <td><a href="/update?id={{id}}">Edit</a></td>
        </tr>
    {% endfor %}
</table>

<br>
<br>

<table border="0" cellpadding="20" cellspacing="20">
<tr>
    <td width="42"></td>
    <td>
        <a href="/">New Snippet</a>
    </td>
    <td>
        {% if bookmark %}
             <a href="?bookmark={{ bookmark }}">Next</a>
        {% endif %}

    </td>
</tr>
</table>

</body>
</html>