{% extends "base.html" %}
{% block title %} Your snippets {% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
    function linkCopy(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        return false;
    }

    </script>
{% endblock %}

{% block content %}
    <div id="content-container">
    <table class="table"">
        <tr>
            <th>Key</th>
            <th>Headline</th>
            <th>Copy</th>
            <th>Link</th>
            <th>-</th>
            <th>---</th>
            <th>---</th>
            <th>Composer link</th>
        </tr>
        {% for snippet in snippets %}
            <tr>
                {% set key = snippet.key %}
                {% set id = key.id() %}
                {% set json_link = server_url ~ "/view?id=" ~ id %}
                <td>{{id}}</td>
                <td>{{snippet.headline}}</td>
                <td>{{snippet.copy}}</td>
                <td>{{snippet.link}}</td>
                <td><a type="button" class="btn btn-info" href="/preview?id={{id}}">Preview</a></td>
                <td><a type="button" class="btn btn-info" href="/delete?id={{id}}">Delete</a></td>
                <td><a type="button" class="btn btn-info" href="/update?id={{id}}">Edit</a></td>
                <td><a href="/view?id={{id}}" onclick="linkCopy(this.text)">{{json_link}}</a></td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

    <table border="0" cellpadding="20" cellspacing="20">
    <tr>
        <td>
            <a href="/">New Snippet</a>
        </td>
        <td width="42"></td>
        <td>
            {% if bookmark %}
                 <a href="list?bookmark={{ bookmark }}">Next</a>
            {% endif %}

        </td>
    </tr>
    </table>
    </div>
{% endblock %}
