{% extends "base.html" %}
{% block title %} Edit {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id="content-container">

   <form action="/update" method="post">
      <input type="hidden" name="id" value="{{id}}">
      Headline: <div><input id="headline" name="headline" value="{{snippet.headline}}"></div>
      Link: <div><input id="link" name="link" value="{{snippet.link}}"></div>
      Copy: <div><textarea id="copy" name="copy" cols="60" rows="12">{{snippet.copy}}</textarea></div>
     <div><input type="submit" value="Update"></div>
   </form>
</div>
{% endblock %}